@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(240, 78%, 98%);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  height: 100vh;
  line-height: 2;
  position: relative;
}

.bg-top {
  position: absolute;
  right: 0;
  top: 0;
}

.bg-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

h2 {
  color: hsl(232, 13%, 33%);
}

.switches {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  padding: 3% 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(234, 14%, 74%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  right: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(-26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.grey {
  color: hsl(234, 14%, 74%);
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ' . pro-grid .'
    ' basic-grid pro-grid master-grid'
    ' . pro-grid .';
  column-gap: 2%;
  padding: 0 5%;
  width: 100%;
  position: relative;
}

.price {
  padding: 3% 0;
  width: 250px;
  border-radius: 10px;
  font-weight: 100;
}

.basic-grid {
  grid-area: basic-grid;
}

.master-grid {
  grid-area: master-grid;
}

.basic-grid,
.master-grid {
  background-color: white;
  font-size: 14px;
  padding: 8%;
}

.pro-grid {
  grid-area: pro-grid;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  font-size: 14px;
  padding: 15% 8%;
}

.pro-grid h2 {
  color: white;
}

hr {
  margin: 5px 0;
}

button {
  width: 100%;
  padding: 3% 0;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid hsl(237, 63%, 64%);
  border-radius: 5px;
  background-color: transparent;
  color: hsl(237, 63%, 64%);
  cursor: pointer;
}

.btn {
  border: 1px solid white;
  color: white;
}

.price-heading1, 
.price-heading2,
.price-heading3 {
  font-size: 2.5rem;
}

.dollar {
  font-size: 25px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 9%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
